.footer {
    width: 100%;
    min-height: 505px;
    padding: 85px 162px 50px;
    background: #0F0F0F;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.section:nth-child(1) {
    flex: 3 1;
    display: flex;
    gap: 30px;

}

.section_item {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section_item-h4 {
    color: white;
    font-size: 20px;
    font-family: ManropeSemiBold;
}

.section_item-div {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.section_item-span {
    font-size: 18px;
    color: #999999;
    font-family: ManropeMedium;
}

.section_item-icons {
    display: flex;
    flex-direction: row;
}

.icon-div {
    width: 56px;
    height: 56px;
    background: #1A1A1A;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.second-section {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty {
    width: 100%;
    height: 1px;
    background: #262626;
}

.section-div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.rights {
    font-size: 18px;
    color: #999999;
}

.section-div-additionally {
    display: flex;
    gap: 20px;
}

.section-div-span {
    color: #999999;
    font-size: 18px;
}

.mobile-section {
    display: none;
}

@media screen and (min-width:320px) and (max-width: 390px) {

    .footer {
        padding: 50px 16px 20px;
        gap: 50px;
    }

    .section:nth-child(1) {
        flex-wrap: wrap;
        display: none;
    }

    .mobile-section {
        display: flex;
        width: 100%;
        flex: 3 1;
        flex-direction: column;
        gap: 30px;
    }

    .mobile-section-div {
        width: 100%;
        min-height: 130px;
        display: flex;
    }

    .mobile-section__item {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .icon-div {
        width: 44px;
        height: 44px;
    }

    .section_item-h4 {
        font-size: 16px;
    }

    .section_item-span {
        font-size: 14px;

    }

    .second-section {
        gap: 20px;
    }

    .section-div {
        flex-direction: column;
        gap: 20px;
    }

    .rights {
        font-size: 14px;
    }

    .section-div-additionally {
        gap: 16px;
    }

    .section-div-span {
        font-size: 14px;
        text-align: center;
    }

}