

<footer class="footer">
    <div class="section">
        <div class="section_item">
            <div class="">
                <h4 class="section_item-h4">Home</h4>
            </div>
            <div class="section_item-div">
                <span class="section_item-span">Categories</span>
                <span class="section_item-span">Devices</span>
                <span class="section_item-span">Pricing</span>
                <span class="section_item-span">FAQ</span>
            </div>
            
        </div>
        <div class="section_item">
            <div class="">
                <h4 class="section_item-h4">Movies</h4>
            </div>
            <div class="section_item-div">
                <span class="section_item-span">Gernes</span>
                <span class="section_item-span">Trending</span>
                <span class="section_item-span">New Release</span>
                <span class="section_item-span">Popular</span>
            </div>
            
        </div>
        <div class="section_item">
            <div class="">
                <h4 class="section_item-h4">Shows</h4>
            </div>
            <div class="section_item-div">
                <span class="section_item-span">Gernes</span>
                <span class="section_item-span">Trending</span>
                <span class="section_item-span">New Release</span>
                <span class="section_item-span">Popular</span>
            </div>
            
        </div>
        <div class="section_item">
            <div class="">
                <h4 class="section_item-h4">Support</h4>
            </div>
            <div class="section_item-div">
                <span class="section_item-span">Contact Us</span>

            </div>
            
        </div>
        <div class="section_item">
            <div class="">
                <h4 class="section_item-h4">Subscription</h4>
            </div>
            <div class="section_item-div">
                <span class="section_item-span">Plans</span>
                <span class="section_item-span">Features</span>
            </div>
            
        </div>
        <div class="section_item">
            <div class="">
                <h4 class="section_item-h4">Connect With Us</h4>
            </div>
            <div class="section_item-div section_item-icons">
                <div class="icon-div">
                    <img src="/assets/icons/x.png" width="24" alt="">
                </div>
                <div class="icon-div">
                    <img src="/assets/icons/discord.svg" width="24" alt="">
                </div>
                <div class="icon-div">
                    <img src="/assets/icons/instagram.svg" width="24" alt="">
                </div>
            </div>
            
        </div>
      
    </div>
    <div class="section">
        <div class="empty"></div>
        <div class="section-div">
            <span class="rights">&#64;2023 streamvib, All Rights Reserved</span>
            <div class="section-div-additionally">
                <span class="section-div-span">Terms of Use</span>
                <span class="section-div-span">Privacy Policy</span>
                <span class="section-div-span">Cookie Policy</span>
            </div>
        </div>
    </div>
</footer>