<div class="header">
    <div class="header-item">
      <div class="logo">
        <img src="/assets/logotips/logo.svg" alt="" srcset="" width="200">
      </div>
    </div>
    <div class="header-item">
      <div class="navbar">
        <div class="navbar-item" routerLink="/" routerLinkActive="navbar-item-active" [routerLinkActiveOptions]="{exact: true}">Home</div>
        <div class="navbar-item" routerLink="/movies&shows" routerLinkActive="navbar-item-active" [routerLinkActiveOptions]="{exact: true}">Movies & Shows</div>
        <div class="navbar-item" routerLink="/support" routerLinkActive="navbar-item-active" [routerLinkActiveOptions]="{exact: true}">Support</div>
        <div class="navbar-item" routerLink="/subscriptions" routerLinkActive="navbar-item-active" [routerLinkActiveOptions]="{exact: true}">Subscriptions</div>
      </div>
    </div>
    <div class="header-item"><div class="hotkeys">
      <img src="/assets/logotips/bell.svg" alt="" srcset="" width="34">
      <img src="/assets/logotips/loupe.svg" alt="" srcset="" width="34">

    </div></div>
  </div>