.movie {
    width: 100%;
    min-height: 100vh;
    padding: 50px 163px 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.movie-header {
    width: 100%;
    min-height: 835px;
    background: url(https://image.openmoviedb.com/kinopoisk-ott-images/212840/2a00000186a8b7a1951185c6175ed0f07fd0/orig) no-repeat top 0 left 0 /cover;
    border-radius: 12px;

}

.movie-header_div {
    width: 100%;
    height: 835px;
    background: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0.9136029412) 86%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 50px 50px 20px;
}

.movie-header-text {
    width: 100%;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.movie-header-h2 {
    color: white;
    font-size: 38px;
}

.movie-header-span {
    color: #999999;
    font-size: 18px;
    width: 70%;
    text-align: center;
}

.movie-header-buttons {
    width: 365px;
    height: 56px;
    display: flex;
    gap: 20px;
}

.buttons-item:nth-child(1) {
    flex: 1 1;
    background: #E50000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buttons-item-span {
    font-size: 18px;
    color: white;
    font-family: ManropeSemiBold;
}

.buttons-item:nth-child(2) {
    flex: 1 1;
    display: flex;
    gap: 10px;

}

.hot_button {
    width: 56px;
    height: 100%;
    background: #0F0F0F;
    border-radius: 8px;
    border: 1px solid #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie-content {
    min-height: 100px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.movie-content__div {
    display: flex;
    flex-direction: column;

}

.movie-content__div:nth-child(1) {
    flex: 2 1;
    gap: 30px;
}

.movie-content__div:nth-child(2) {
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 50px;
    flex: 1 1;
    gap: 30px;
    height: 940px;
}

.movie-content__item {
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 50px;
    display: flex;
    flex-direction: column;

}

.movie-content__item:nth-child(1) {
    gap: 14px;
}

.movie-content__item:nth-child(2) {
    gap: 30px;
}

.movie-content__item:nth-child(3) {
    gap: 30px;
    min-height: 500px;
}

.item_header {
    font-size: 18px;
    color: #999999;
    font-family: ManropeMedium;
}

.item_header-decription {
    font-family: ManropeMedium;
    font-size: 18px;
    color: white;
}



.swiper_actors {
    width: 990px;
}

.swiper_actors-item {
    width: 102px;
    height: 115px;
    border-radius: 12px;

}









.player-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 500px;
    height: 250px;
    box-shadow: 0 0 10px #B3B3B3;
    border-radius: 12px;
}













.movie-content_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.container-header {
    display: flex;
    gap: 4px;
}


.container-header__span {
    font-size: 18px;
    color: #999999;
    font-family: ManropeMedium;
}

.container__span {
    color: white;
    font-size: 20px;
    font-family: ManropeSemiBold;
}

.container_text {
    width: 100%;
    min-height: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container_text__div {
    min-width: 90px;
    height: 43px;
    display: grid;
    place-items: center;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-family: ManropeMedium;
    padding: 0 14px;
}

.container_rating {
    width: 100%;
    min-height: 96px;
    display: flex;
    gap: 20px;
}

.container_rating__div {
    flex: 1 1;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 8PX;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container_rating__span {
    width: 100%;
    font-size: 20px;
    font-family: ManropeSemiBold;
    color: white;

}

.container_block {
    width: 100%;
    min-height: 88px;
    padding: 14px;
    background: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.container_block__img {
    border-radius: 8px;
    aspect-ratio: 1 / 1;
}

.container_block__div {
    display: flex;
    flex-direction: column;
}

.container_block__span {
    font-family: ManropeMedium;
}

.container_block__span:nth-child(1) {
    font-size: 18px;
    color: white;
}

.container_block__span:nth-child(2) {
    font-size: 16px;
    color: #999999;
}

.mobile-movie-content {
    display: none;
}

@media screen and (min-width:320px) and (max-width: 390px) {
    .movie {
        padding: 40px 16px;
        gap: 60px;
    }

    .movie-header {
        min-height: 435px;
    }

    .movie-header_div {
        padding: 24px 24px 16px;
        height: 468px;
    }

    .movie-header-h2 {

        font-size: 24px;
    }

    .movie-header-span {
        display: none
    }

    .movie-header-buttons {
        width: 100%;
        min-height: 120px;

        flex-direction: column;
    }

    .buttons-item:nth-child(2) {
        align-self: center;
    }

    .movie-content {
        display: none;
    }

    .mobile-movie-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 300px;
    }


    .movie-content__item {

        padding: 24px;
    }

    .item_header {
        font-size: 14px;
    }

    .item_header-decription {
        font-size: 14px;
    }

    .mobile-movie-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobile-movie-content__item {
        display: flex;
        flex-direction: column;
        background: #1A1A1A;
        border: 1px solid #262626;
        border-radius: 12px;
        padding: 24px;
        flex: 1 1;
        gap: 20px;
        height: 675px;
    }

    .mobile-movie-content__persons {
        width: 100%;
        background: #1A1A1A;
        border: 1px solid #262626;
        border-radius: 12px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .swiper_actors {
        width: 100%;
    }

    .swiper_actors-item {
        height: 0;
        min-height: 60px;
    }
    .player-container{
        height: 200px;
    }

}