<div class="main">
    <div class="background">
        <img src="/assets/img/background_1.png" alt="" class="background-img">
        <img src="/assets/logotips/bigLogo.svg" alt="" class="background-logo">
    </div>
    <div class="text">
        <div class="header-text">
            <h1 class="header-text-h1">The Best Streaming Experience</h1>
            <span class="header-text-span">StreamVibe is the best streaming experience for watching your favorite movies
                and shows on demand, anytime, anywhere. With StreamVibe, you can enjoy a wide variety of content,
                including the latest blockbusters, classic movies, popular TV shows, and more. You can also create your
                own watchlists, so you can easily find the content you want to watch.</span>
        </div>
        <div class="button-block">
            <div class="button">
                <img src="/assets/icons/watch.svg" alt="icon" width="20" srcset="">
                <span>Start Watching Now</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="genres">
            <div class="genres-info">
                <h2 class="genres-info-h1">Explore our wide variety of categories</h2>
                <span class="genres-info-span">Whether you're looking for a comedy to make you laugh, a drama to make you
                    think, or a documentary to learn something new</span>
            </div>
    
    
            <div class="swiper genres-catalog">
                <div class="swiper-wrapper">
                    <div class="swiper-slide genres-card" *ngFor="let item of genres ">
                        <div class="genres-imgs">
                            <div class="genres-fade"></div>
                            <img class="genres-img" src="https://image.openmoviedb.com/kinopoisk-images/10853012/bdbcf76a-9ddb-4325-a263-3702f6645701/orig" alt="">
                            <img class="genres-img" src="https://image.openmoviedb.com/kinopoisk-images/10853012/bdbcf76a-9ddb-4325-a263-3702f6645701/orig" alt="">
                            <img class="genres-img" src="https://image.openmoviedb.com/kinopoisk-images/10853012/bdbcf76a-9ddb-4325-a263-3702f6645701/orig" alt="">
                            <img class="genres-img" src="https://image.openmoviedb.com/kinopoisk-images/10853012/bdbcf76a-9ddb-4325-a263-3702f6645701/orig" alt="">
                            
                        </div>
                        <div class="genres-link">
                            <span class="genres-link-span">{{item.name | titlecase}}</span>
                            <img src="/assets/icons/arrow.svg" width="18px" alt="" srcset="">
                        </div>
                    </div>
                 
                    
                </div>
              
            </div>
           
    
    
        </div>
        <div class="devices">
            <div class="devices-description">
                <h2 class="devices-description-h2">We Provide you streaming experience across various devices.</h2>
                <span class="devices-description-span">With StreamVibe, you can enjoy your favorite movies and TV shows anytime, anywhere. Our platform is designed to be compatible with a wide range of devices, ensuring that you never miss a moment of entertainment.</span>
            </div>
            <div class="devices-item">
                <div class="device-card" *ngFor="let item of devices">
                    <div class="card-container">
                        <div class="card-icon"><img [src]="item.photo"  alt="" srcset=""></div>
                        <div class="card-model">{{item.device}}</div>
                    </div>
                    <div class="card-text">{{item.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="faq-header">
                <div class="faq-header-item">
                    <h2 class="faq-header-h2">Frequently Asked Questions</h2>
                    <span class="faq-header-span">Got questions? We've got answers! Check out our FAQ section to find answers to the most common questions about StreamVibe.</span>
                </div>
                <div class="faq-header-item">
                    <div class="faq-button">
                        <div class="faq-button-text">Ask a Question</div>
                    </div>
                </div>
            </div>
            <div class="faq-container">
                <div class="faq-container-item">
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">01</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">What is StreamVibe?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">02</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">How much does StreamVibe cost?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">03</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">What content is available on StreamVibe?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">04</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">How can I watch StreamVibe?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-container-item">
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">05</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">How do I sign up for StreamVibe?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">06</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">What is the StreamVibe free trial?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">07</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">How do I contact StreamVibe customer support?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                    <div class="questions">
                        <div class="questions-item">
                            <div class="questions-item-number">
                                <div class="questions-item-number-span">08</div>
                            </div>
                        </div>
                        <div class="questions-item">
                            <span class="question">What are the StreamVibe payment methods?</span>
                        </div>
                        <div class="questions-item ">
                            <div class="questions-cross">
                                <div class="cross-item"></div>
                                <div class="cross-item"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tarrifPlan">
            <div class="tarrifPlan-header">
                <div class="tarrifPlan-header_item">
                    <h2 class="tarrifPlan-header-h2">Frequently Asked Questions</h2>
                    <span class="tarrifPlan-header-span">Got questions? We've got answers! Check out our FAQ section to find answers to the most common questions about StreamVibe.</span>
               
                </div>
                <div class="tarrifPlan-header_item">
                    <div class="tarrifPlan-header-tabs">
                        <div class="tarrifPlan-header-tab tarrifPlan-header-tab-active">
                            <span class="tarrifPlan-header-tab_text">Monthly</span>
                        </div>
                        <div class="tarrifPlan-header-tab">
                            <span class="tarrifPlan-header-tab_text">Yearly</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tarrif_plans">
                <div class="plan_cards" *ngFor="let item of plans">
                    <div class="plan_description">
                        <h3 class="plan_description-h3">{{item.name}}</h3>
                        <span class="plan_description-span">{{item.description}}</span>
                    </div>
                    <div class="plan_price">
                        <span class="plan_price-span">${{item.price.month.price}}</span> <span class="plan_price-span">/{{item.price.month.text}}</span>
                    </div>
                    <div class="plan_buttons">
                        <div class="plan_button"><span class="plan_button-span">Start Free Trial</span></div>
                        <div class="plan_button"><span class="plan_button-span"></span>Choose Plan</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="get_started">
            <div class="get_started__item">
                <h2 class="get_started__item-h2">Start your free trial today!</h2>
                <span class="get_started__item-span">This is a clear and concise call to action that encourages users to sign up for a free trial of StreamVibe.</span>
            </div>
            <div class="get_started__item">
                <div class="get_started_button">
                    <div class="get_started_button-span">Start a Free Trail</div>
                </div>
            </div>
        </div>
    </div>


</div>