.main {
    width: 100%;
    min-height: 100vh;
}

.background {
    width: 100%;
    height: 685px;
    position: relative;
}

.background-img {
    width: 100%;
    position: absolute;
    top: -120px;
    z-index: -1;
}

.background-logo {
    position: absolute;
    left: 700px;
    top: 50px;
}

.text {
    width: 100%;
    min-height: 400px;
    padding: 0 412px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.header-text-h1 {
    color: white;
    text-align: center;
    font-size: 58px;
}

.header-text-span {
    color: #999999;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.button-block {
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 251px;
    height: 64px;
    padding: 18px 24px;
    background: #E50000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    color: white;
    font-family: ManropeSemiBold;
}

.content {
    width: 100%;
    min-height: 500px;
    padding: 0 161px 150px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    
}

.genres {
    width: 100%;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.genres-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.genres-info-h1 {
    color: white;
    font-size: 38px;
}

.genres-info-span {
    font-size: 18px;
    color: #999999;
}

.genres-catalog {
    width: 100%;
    min-height: 342px;

}

    .genres-card {
        width: 296px;
        height: 342px;
        border-radius: 12px;
        background: #1A1A1A;
        border: 1px solid #262626;
        padding: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

    }

    .genres-imgs {
        width: 100%;
        height: 252px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }

    .genres-fade {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #1A1A1A);
        border-radius: 10px;
    }

    .genres-img {
        height: 115px;
        border-radius: 10px;

    }

    .genres-link {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .genres-link-span {
        color: white;
        font-family: ManropeSemiBold;
        font-size: 18px;
    }

.swiper {
    width: 100%;
    height: 100%;
}

.devices {
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.devices-description {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.devices-description-h2 {
    color: white;
    font-size: 38px;
    font-weight: bold;
}

.devices-description-span {
    color: #999999;
    font-size: 18px;
    width: 1300px;
}

.devices-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.device-card {
    width: 507px;
    height: 283px;
    border-radius: 12px;
    border: 1px solid #262626;
    padding: 50px;
    background: url('/assets/img/device-card-background.jpg');
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.card-icon {
    width: 72px;
    height: 72px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
    border: 1px solid #1F1F1F;

}

.card-model {
    font-family: ManropeSemiBold;
    color: white;
    font-size: 24px;
}

.card-text {
    color: #999999;
    font-size: 14px;
}

.faq {
    width: 100%;
    min-height: 734px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.faq-header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: flex-end;
}

.faq-header-item:nth-child(1) {
    flex: 5 1;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.faq-header-item:nth-child(2) {
    flex: 1 1;

}

.faq-header-h2 {
    color: white;
    font-size: 38px;
}

.faq-header-span {
    color: #999999;
    font-size: 18px;
}



.faq-button {
    background-color: #E50000;
    width: 176px;
    height: 63px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: ManropeSemiBold;
}

.faq-button-text {
    color: white;
    font-size: 18px;
}

.faq-container {
    width: 100%;
    min-height: 555px;
    display: flex;
    gap: 80px;
}

.faq-container-item {
    flex: 1 1;
    display: flex;
    flex-direction: column;

}

.questions {
    width: 100%;
    height: 127px;
    padding: 30px 34px;
    display: flex;
    gap: 24px;
}

.questions-item:nth-child(1) {

    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-item:nth-child(2) {
    display: flex;
    align-items: center;
    flex: 4 1;
}

.questions-item:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

.questions-item-number {
    width: 62px;
    height: 67px;
    background: #1F1F1F;
    border: 1px solid #262626;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-item-number-span {
    font-family: ManropeSemiBold;
    font-size: 20px;
    color: white;
}

.question {
    font-size: 22px;
    color: white;
    font-family: ManropeMedium;
}

.questions-cross {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

.cross-item:nth-child(1) {
    align-self: center;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: white;
    position: absolute;
    bottom: 7.5px;
}

.cross-item:nth-child(2) {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: white;
    transform: rotate(90deg);
    position: absolute;
    bottom: 7px;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.questions-cross:hover .cross-item:nth-child(2) {
    transform: rotate(180deg);
}

.tarrifPlan {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.tarrifPlan-header {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 100px;
}

.tarrifPlan-header_item:nth-child(1) {
    flex: 4 1;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tarrifPlan-header_item:nth-child(2) {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


.tarrifPlan-header-h2 {
    color: white;
    font-size: 38px;
}

.tarrifPlan-header-span {
    color: #999999;
    font-size: 18px;
}

.tarrifPlan-header-tabs {
    width: 240px;
    height: 75px;
    background: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 10px;
    display: flex;

}

.tarrifPlan-header-tab {
    width: 118px;
    height: 55px;
    border-radius: 10px;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tarrifPlan-header-tab_text {

    font-size: 18px;
    font-family: ManropeMedium;

}

.tarrifPlan-header-tab-active {
    background: #1F1F1F;
    color: white;
}

.tarrif_plans {
    width: 100%;
    min-height: 425px;
    display: flex;
    gap: 30px;
}

.plan_cards {
    width: 512px;
    height: 425px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #1A1A1A;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.plan_description {
    width: 100%;
    height: 133px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plan_description-h3 {
    color: white;
    font-size: 24px
}

.plan_description-span {
    color: #999999;
    font-size: 18px;
}

.plan_price {
    width: 100%;
    height: 30px;
}

.plan_price-span:nth-child(1) {
    font-size: 40px;
    color: white;
    font-family: ManropeSemiBold;
}

.plan_price-span:nth-child(2) {
    font-size: 18px;
    color: #999999;
    font-family: ManropeMedium;
}

.plan_buttons {
    width: 100%;
    height: 65px;
    display: flex;
    gap: 20px;
    font-family: ManropeSemiBold;

}

.plan_button:nth-child(1) {
    flex: 1 1;
    background: #141414;
    border-radius: 8px;
    border: 1px solid #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.plan_button:nth-child(2) {
    flex: 1 1;
    background: #E50000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.get_started {
    width: 100%;
    min-height: 315px;
    background: url('/assets/img/get_starder-background.jpg') no-repeat left 0 bottom 0 /cover;
    border-radius: 12px;
    padding: 100px 80px;
    display: flex;
    gap: 100px;
}

.get_started__item:nth-child(1) {
    flex: 4 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.get_started__item:nth-child(2) {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_started__item-h2 {
    font-size: 48px;
    color: white;
}

.get_started__item-span {
    font-size: 18px;
    color: #999999;
}

.get_started_button {
    background: #E50000;
    width: 188px;
    height: 65px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_started_button-span {
    color: white;
    font-size: 18px;
    font-family: ManropeSemiBold;
}