<div class="movie">
    <div class="movie-header">
        <div class="movie-header_div">

            <div class="movie-header-text">
                <h2 class="movie-header-h2">name</h2>
                <span class="movie-header-span">shortDescription</span>
            </div>
            <div class="movie-header-buttons">
                <div class="buttons-item">
                    <img src="/assets/icons/watch.svg" width="28" alt="" srcset="">
                    <span class="buttons-item-span">Play Now</span>
                </div>
                <div class="buttons-item">
                    <div class="hot_button"><img src="/assets/icons/cross.png" width="28" alt="" srcset="">
                    </div>
                    <div class="hot_button"><img src="/assets/icons/like.png" width="28" alt="" srcset="">
                    </div>
                    <div class="hot_button"><img src="/assets/icons/sound.png" width="28" alt="" srcset="">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="movie-content">
        <div class="movie-content__div">
            <div class="movie-content_item">
                <span class="item_header">Description</span>
                <span class="item_header-decription">A fiery young man clashes with an unflinching forest officer in a south Indian village where spirituality, fate and folklore rule the lands.</span>
            </div>
            <div class="movie-content_item">
                <span class="item_header">Cast</span>
                    
            </div>
            <div class="movie-content_item"></div>
        </div>
        <div class="movie-content__div">
            <div class="movie-content_container">
                <div class="container-header">
                    <img src="/assets/icons/movie-icon_1.svg" alt="" srcset="" width="24" height="24">
                    <span class="container-header__span">
                        Released Year
                    </span>
                </div>
                <span  class="container__span">2022</span>
            </div>
            <div class="movie-content_container">
                <div class="container-header">
                    <img src="/assets/icons/movie-icon_2.svg" alt="" srcset="" width="24" height="24">
                    <span class="container-header__span">
                        Available Languages
                    </span>
                </div>
                <div class="container_text">
                    <div class="container_text__div">
                        <span class="container_text__span">English</span>
                    </div>
                    <div class="container_text__div">
                        <span class="container_text__span">English</span>
                    </div>
                    <div class="container_text__div">
                        <span class="container_text__span">English</span>
                    </div>
                    <div class="container_text__div">
                        <span class="container_text__span">English</span>
                    </div>
                </div>
            </div>
            <div class="movie-content_container">
                <div class="container-header">
                    <img src="/assets/icons/movie-icon_3.svg" alt="" srcset="" width="24" height="24">
                    <span class="container-header__span">
                        Ratings
                    </span>
                </div>
                <div class="container_rating">
                   <div class="container_rating__div">
                    <span class="container_rating__span">
                        IMDb
                    </span>
                   </div>
                   <div class="container_rating__div">
                    <span class="container_rating__span">
                        StreamVibe
                    </span>
                   </div>
                </div>
            </div>
            <div class="movie-content_container">
                <div class="container-header">
                    <img src="/assets/icons/movie-icon_4.svg" alt="" srcset="" width="24" height="24">
                    <span class="container-header__span">
                        Gernes
                    </span>
                </div>
                <div class="container_text">
                    <div class="container_text__div">
                        <span class="container_text__span">Action</span>
                    </div>
                    <div class="container_text__div">
                        <span class="container_text__span">Adventure</span>
                    </div>
                    <div class="container_text__div">
                        <span class="container_text__span">Anime</span>
                    </div>

                </div>
            </div>
            <div class="movie-content_container">
                <div class="container-header">
                    <span class="container-header__span">
                        Director
                    </span>
                </div>
                <div class="container_block">
                   <img src="/assets/img/avatar.png" class="container_block__img" height="60px" alt="" srcset="">
                   <div class="container_block__div">
                    <span class="container_block__span">Rishab Shetty</span>
                    <span class="container_block__span">Rishab Shetty</span>
                   </div>
                </div>
            </div>
            <div class="movie-content_container">
                <div class="container-header">
                    <span class="container-header__span">
                        Music
                    </span>
                </div>
                <div class="container_block">
                   <img src="/assets/img/avatar.png" class="container_block__img" height="60px" alt="" srcset="">
                   <div class="container_block__div">
                    <span class="container_block__span">Rishab Shetty</span>
                    <span class="container_block__span">Rishab Shetty</span>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>